* { margin: 0px; padding: 0px; border-spacing: 0px;  }
body {
    width: max(100%, 800px);
    text-align: center;
}
#etchasketch-device {
    background-color: maroon;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem 5rem 1rem 5rem;
    margin: 1rem;
    text-align: center;
    width: 800px;
    display: inline-block;
}
#etchasketch-device h1 {
    color: goldenrod;
    text-align: center;
    margin-bottom: 1rem;
    font-family: 'Brush Script MT', 'cursive', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    font-weight: 10;
}
#drawing-area {
    background-color: lightgray;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    text-align: center;
}
#drawing-table {
    margin: auto;
    border: 1px solid black;
    width: max(400px, min(60vh, 60vw));
    height: max(400px, min(60vh, 60vw));
}
.drawing-board-location {
    box-sizing: border-box;
    width: 1%;
    height: 1%;
}
.painted {
    background-color: black;
}
#shake-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 2rem;
    font-size: x-large;
    text-align: center;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#shake-button.active {
    background-color: lightgray;
    cursor: pointer;
}